body{
    margin: 0;
    background-color: #F4F4F4;
}
/* header start */

.header{
    margin: 0px;
    padding: 0px 30px;
    max-width: 100%;
    height: auto;
    background-color: white;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 170px;
    height: auto;
}
.logo img{
    width: 140px;
    height: auto;
}
.dropdown{
    padding: 0px 20px;
    font-size: 20px;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.dropdown i{
    padding: 10px;
    font-size: 30px;
}
.hamburger a{
    font-size: 30px;
    color: black;
}
hr.hr1{
    margin-top: -15px;
}
.button{
    margin-left: 150px;
    display: flex;
    padding: 0px 20px;
    justify-content: center;
}
.button div{
    margin-right: 20px;
    margin-top: -6px;
    width: auto;
    height: 30px;
    cursor: pointer;
}
.button a{
    text-decoration: none;
    font-size: 13px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.button div:hover{
    margin-top: -10px;
    width: auto;
    height: 30px;
    border-top: 3px solid #18B9E5;
}
